<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <percentage>
            <general>
                <enable>0</enable>
                <display_text>10</display_text>
            </general>
        </percentage>
    </default>
</config>